<h1>MK14</h1>
<ul class="routers">
  <li>
    <a
      class="Navigations"
      routerLink="/about"
      >About</a
    ><br />
  </li>
  <li>
    <a
      class="Navigations"
      routerLink="/"
      >Home</a
    >
  </li>
  <li>
    <a
      class="Navigations"
      routerLink="/contect"
      >Contact</a
    ><br />
  </li>
  <br />
</ul>
<div>
  <ul>
    <li><a routerLink="dynamic/1 ">1</a></li>
    <br />
    <li><a routerLink="dynamic/2 ">2</a></li>
    <br />
    <li><a routerLink="dynamic/3 ">3</a></li>
    <br />
    <li><a routerLink="dynamic/4 ">4</a></li>
    <br />
    <li><a routerLink="dynamic/5 ">5</a></li>
  </ul>
</div>

<h1>{{title}}</h1>

<router-outlet></router-outlet>
